@model Page<GenericItem>
@{
    int CurrentPage = Context.GetCurrentPage() ?? 1;
    string SearchQuery = Context.GetSearchQuery();
    string prevPageModifier = (CurrentPage == 1) ? "disabled" : "";
    string nextPageModifier = (Model.PageInfo.Size == Model.PageInfo.RangeEnd) ? "disabled" : "";
    ViewData["DeleteController"] = "Restaurant";
    
}

<div class="d-flex flex-column">
    <div class="row">
        <form class="input-group col ps-0">
            <input type="text" value="@SearchQuery" class="form-control" name="searchQuery" placeholder="Название" />
            <button class="btn btn-outline-secondary">Поиск</button>
        </form>

        <div class="btn col-auto btn-success ms-auto" data-bs-toggle="modal" data-bs-target="#newRestModal">Создать
        </div>
        @await Html.PartialAsync("_RestaurantCreateFormModal", new NameOnly())
    </div>


    <div class="card mt-3">
        <ul class="list-group">
            @if (Model.PageInfo.Size == 0)
            {
                <li class="list-group-item text-center fw-bold">
                    Ничего не найдено
                </li>
            }
            @foreach (var item in Model.Items)
            {
                <li class="list-group-item d-flex row">
                    <div class="item-name col-auto d-flex align-items-center">
                        @item.Name
                    </div>
                    <div class="justify-content-end col d-flex flex-reverse">
                        @await Html.PartialAsync("_RestaurantNameEditForm", new GenericItem {Id = item.Id})
                        @await Html.PartialAsync("_DeleteButton", new IdOnly(item.Id))
                    </div>
                </li>
            }
        </ul>
    </div>

    <ul class="pagination pt-3 ">
        <li id="prevpage" class="page-item @prevPageModifier">
            <a class="page-link" asp-action="Index" asp-route-page="@(CurrentPage - 1)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li id="nextpage" class="page-item @nextPageModifier">
            <a class="page-link" asp-action="Index" asp-route-page="@(CurrentPage + 1)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>