@model Page<UserProfile>
@{
    int CurrentPage = Context.GetCurrentPage() ?? 1;
    var query = Context.Request.Query;
    string emailSearchQuery = query.TryParseSingle<string>("emailSearchQuery");
    string nameSearchQuery = query.TryParseSingle<string>("nameSearchQuery");
    string phoneSearchQuery = query.TryParseSingle<string>("phoneSearchQuery");

    var rolesQuery = query.TryParseMany<string>("roles");
    var rolesSelectList = Html.GetEnumSelectList<RoleType>();
    if (rolesQuery != null)
    {

        foreach (var item in rolesSelectList)
        {
            if (rolesQuery.Any(x => x == item.Value))
                item.Selected = true;
            @* rolesSelectList.Where(x => x == 1) *@
        }
    }

    var genderQuery = query.TryParseSingle<string>("gender");
    var genderSelectList = Html.GetEnumSelectList<Gender>();
    var chosenGender = genderSelectList.FirstOrDefault(x => x.Value == genderQuery);
    if (chosenGender != null)
        chosenGender.Selected = true;

    string prevPageModifier = (CurrentPage == 1) ? "disabled" : "";
    string nextPageModifier = (Model.PageInfo.Size == Model.PageInfo.RangeEnd) ? "disabled" : "";
}

<div class="d-flex flex-column">
    <div class="">
        <form class="ps-0">
            <div class="row align-items-center">
                <input type="text" value="@emailSearchQuery" class="form-control col mx-2" name="emailSearchQuery"
                    placeholder="Email" />
                <input type="text" value="@nameSearchQuery" class="form-control col mx-2" name="nameSearchQuery"
                    placeholder="Имя" />
                <input type="text" value="@phoneSearchQuery" class="form-control col mx-2" name="phoneSearchQuery"
                    placeholder="Телефон" />
                <select name="gender" asp-items="genderSelectList" class="form-select mx-2 w-auto col-auto">
                    <option selected value="">Пол</option>
                </select>
                <select multiple name="roles" asp-items="rolesSelectList"
                    class="form-select mx-2 w-auto col-auto"></select>

                <button class="btn btn-outline-secondary col-auto">Поиск</button>
            </div>

        </form>


        <div class="btn btn-success ms-auto">Добавить нового пользователя</div>
    </div>

    <table class="table table-striped">
        <thead>
            <th scope="col">Email</th>
            <th scope="col">Имя</th>
            <th scope="col">Телефон</th>
            <th scope="col">Пол</th>
            <th scope="col"><abbr title="Покупатель">Пок</abbr></th>
            <th scope="col"><abbr title="Курьер">К</abbr></th>
            <th scope="col"><abbr title="Повар">П</abbr></th>
            <th scope="col"><abbr title="Менеджер">М</abbr></th>
            <th scope="col"><abbr title="Администратор">А</abbr></th>
            <th scope="col">Изменить</th>
            <th scope="col">Удалить</th>
        </thead>
        <tbody>
            @if (Model.Items.Count == 0)
            {
                <tr>
                    <td colspan="100" class="text-center fw-bold">Ничего не найдено</td>
                </tr>
            }
            @foreach (var item in Model.Items)
            {

                string[] userRoles = new string[5];
                foreach (var role in item.Roles)
                    userRoles[(int)role] = "checked";

                <tr>
                    <td>@item.Email</td>
                    <td>@item.FullName</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Gender</td>
                    @for (int i = 0; i < 5; i++)
                    {
                        <td><input class="form-check-input" type="checkbox" disabled @userRoles[i]> </td>
                    }
                    <td><a class="btn btn-warning" asp-controller="Users" asp-action="EditUserPage"
                            asp-route-userId="@item.Id">Изменить</a></td>
                    <td><a class="btn btn-danger" asp-controller="Users" asp-action="Delete"
                            asp-route-userId="@item.Id">Удалить</a></td>
                </tr>

            }
        </tbody>
    </table>
</div>

<ul class="pagination pt-3 ">
    <li id="prevpage" class="page-item @prevPageModifier">
        <a class="page-link" asp-action="Index" asp-route-page="@(CurrentPage - 1)" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    <li id="nextpage" class="page-item @nextPageModifier">
        <a class="page-link" asp-action="Index" asp-route-page="@(CurrentPage + 1)" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
</ul>
</div>