@model Page<UserProfile>
@{
    int CurrentPage = Context.GetCurrentPage() ?? 1;
    string SearchQuery = Context.GetSearchQuery();
    string prevPageModifier = (CurrentPage == 1) ? "disabled" : "";
    string nextPageModifier = (Model.PageInfo.Size == Model.PageInfo.RangeEnd) ? "disabled" : "";
}

<div class="d-flex flex-column">
    <div class="row">
        <form class="input-group col ps-0">
            <input type="text" value="@SearchQuery" class="form-control" name="searchQuery" placeholder="Название" />
            <button class="btn btn-outline-secondary">Поиск</button>
        </form>

        <div class="btn col-auto btn-success ms-auto">Создать</div>
    </div>

    <div class="card mt-3">
        <ul class="list-group">
            @if (Model.PageInfo.Size == 0)
            {
                <li class="list-group-item text-center fw-bold">
                    Ничего не найдено
                </li>
            }
            @foreach (var item in Model.Items)
            {
                <li class="list-group-item d-flex row">
                    <div class="item-name col-auto d-flex align-items-center">
                        @item.Email
                    </div>
                    <div class="item-name col-auto d-flex align-items-center">
                        @item.FullName
                    </div>
                    <div class="item-name col-auto d-flex align-items-center">
                        @foreach (var role in item.Roles)
                        {
                            @role
                        }
                    </div>
                    <div class="justify-content-end col d-flex flex-reverse">
                        <div class="btn btn-warning me-3">Изменить</div>
                        <div class="btn btn-danger">Удалить</div>
                    </div>
                </li>
            }
        </ul>
    </div>

    <ul class="pagination pt-3 ">
        <li id="prevpage" class="page-item @prevPageModifier">
            <a class="page-link" asp-action="Index" asp-route-page="@(CurrentPage - 1)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li id="nextpage" class="page-item @nextPageModifier">
            <a class="page-link" asp-action="Index" asp-route-page="@(CurrentPage + 1)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>